<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Index</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
   <h1>Listagem de Colaboradores</h1>
  
    <table>
      <tr>
        <th>NAME</th>
        <th>SOBRENOME</th>
        <th>CPF</th>
        <th>RG</th>
        <th>NOME MÃE</th>
        <th>NOME PAI</th>
        <th>Nº PIS</th>
      </tr>
      <tr th:each="colaborador : ${colaboradores}">
         <td th:text="${colaborador.nome}"></td>
         <td th:text="${colaborador.sobrenome}"></td>
         <td th:text="${colaborador.cpf}"></td>
         <td th:text="${colaborador.rg}"></td>
         <td th:text="${colaborador.nomeMae}"></td>
         <td th:text="${colaborador.nomePai}"></td>
         <td th:text="${colaborador.pis}"></td>
      </tr>
    </table>  
</div>
</body>
</html>